body{
	background:#DDDDDD;
	font-family:optima;
}
h2{
	color:#7B8FA1;}
th{
	color:EEEEEE;
	background:#7B8FA1;
	font-size:20 pt;}
h1{
	color:#7B8FA1;
	font-size:50 pt;}
img{
	padding-left: 10px;
}

.login{
	padding :1cm;
	margin:2cm auto;
	width:17cm;
	background:#CFB997;
	border-radius:3 px;
}
label{
	font-size:10pt;
	color:black;
}
input[type = "text"],
input[type = "password"],
textarea{
	padding : 4px;
	width: 90%;
	background:#B7B78A;
	border:0;
	font-size:10 pt;
	margin:6px 0px;
}
.tombol{
	background:#CFB997;
	color:#7B8FA1;
	border:0;
	padding : 5px 8px;
	margin : 20 px 0px;
}